.courses{
    padding: 10px 20px;
    padding-bottom: 80px;
    background-color: #fff;
    width: 100%;
}

.class h2{
    margin-top: 20px;
    text-align: center;
}

.class p {
    font-size: 20px;
}


.more {
    display: none;
}

.more-btn {
    color: $textcolor-light;
    background-color: $red;
    border: none;
    padding: 20px 20px;
    border-radius: 10px;
    width: 100%;
}

.course-btn{
    text-align: center;
    margin: 10px;
}

@include mq($largeTablet){
    .courses{
        max-width: 1500px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .class{
        max-width: 300px;
        text-align: center;
        max-height: 350px;

        h2{
            background-color: $red;
            border-radius: 10px;
            color: $textcolor-light;
        }
        
        p{
            font-size: 0.9em;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    
    .more-btn{
        display: none;
    }

    .more{
        display: block;
    }
  }