

footer{
    position: static;
    padding-bottom: 50px;
    margin-bottom: 70px;
    background-color: $bgcolor-dark;
}

footer p{
    padding: 10px 0;
    display: block;
    width: 100%;
    text-align: center;
    color: $textcolor-light;
    z-index: 0;
    font-family: $content-font;
}

@include mq($largeTablet){
    footer {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}