

footer{
    position: relative;
    padding: 20px; 
    margin: 20px;
    background-color: $bgcolor-dark;
}

footer p{
    position: absolute;
    bottom: 70px;
    right: 50%;
    transform: translateX(50%);
    color: $textcolor-light;
    z-index: 0;
}

@include mq($largeTablet){
    footer p{
        bottom: 0;
    }
}