header {
    display: flex;
    flex-direction: column;
    background-color: $bgcolor-dark;
    color: $textcolor-light;
    height: 280px;
    justify-content: flex-end;

    h1 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        margin: auto 0;
    }

    .student{
        width: 100%;
    }

    .desktop-h{
        display: none;
    }

    .instructors{
        display: none;
        width: 100%;
    }

    .instructors.current{
        display: flex;
        justify-content: center;
        max-width: 100%;
        height: 100%;

        .instructor{
            display: block;
            width: 50%;
            height: auto;
            object-fit: cover;
        }
    }

    .toggle-feed{
        display: flex;
        justify-content: space-around;
        width: 100%;

        a {
            padding: 0 20px;
            border-bottom: 3px solid white;
            font-size: 1.5em;
            font-family: $a-font;
            text-decoration: none;
            cursor: pointer;
        }

        a.current {
            padding: 0 20px;
            color: red; 
            border-bottom: 3px solid red;
            font-size: 1.5em;
            font-family: $a-font;
            cursor: pointer;
        }
    }
}

    @include mq($largeTablet){

        header{
            height: 200px;

            .toggle-feed{
                display: none;
            }

            .desktop-h{
                display: block;
            }

            #tab-11, #tab-21{
                display: none;
            }
        }        
      }

