h1, h2, h3, h4, p {
    margin: 0;
    padding: 3px 0;
    line-height: 1.4;
}

body{
    background-color: $bgcolor-dark;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
}

.content.current{
    display: inherit;
}

a {
    color: $textcolor-light;
    text-decoration: none;
}

.content {
    margin: 0;
    display: none;
    background-color: $bgcolor-light;
    padding: 20px 20px 125px;
    font-family: $content-font;

    ul {
        padding: 0 20px;
    }

    a{
        color: $textcolor-link;
        font-weight: bold;
    }

    .button{
        text-align: center;
    }

    #apply-button{
        color: $textcolor-light;
        background-color: $red;
        border-radius: 10px;
        padding: 10px;
    }
}

@include mq($largeTablet){
    .content{
        display: block;
        padding-bottom: 25px;
    }

    .content.current{
        padding-bottom: 25px;
    }
  }