nav{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: $bgcolor-dark;
    margin:0;
    
    ul{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
    }

    li {
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        

    }

    img {
        position: absolute;
        display: block;
        top: 5px;
    }

    a {
        position: absolute;
        top: 0px;
        padding-top: 30px;
        padding: 27px 20px;
        text-decoration: none;
        color: $textcolor-light;

        #{$link-hover-selector} {
            background-color: rgba($bgcolor-light, 0.3);
            text-decoration: none;
            color: $textcolor-light;
        }
    }
}

.contact-us-btn {
    background-color: rgb(252, 1, 1);
    display: block;
    padding: 8px 30px;
    margin-left: 15px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: all .2s linear;
    border: 2px solid white;
    box-sizing: inherit;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    position: fixed;
    z-index: 22;
    top: auto;
    bottom: 100px;
    right: 10px;

    #{$link-hover-selector} {
        background-color: $red;
        color: $textcolor-light;
    }
  }

@include mq($largeTablet){
    nav{
        padding: 25px 20px 0;
        display: flex;
        justify-content: flex-end;
        position: relative;
        margin-bottom: 25px;
        
        ul{
            text-align: center;
            width: 60%;
            li{
                display: block;
                width: 100%;
    
                a{
                    position: relative;
                    display: block;
                    width: 100%;
                    padding: 20px 0;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
        }

        img{
            display: none;
        }
    }   

    .contact-us-btn{
        bottom: 50px;
    }
}

@include mq($contactLayout){
    .contact-us-btn {
        position: relative;
        top: 0;
        bottom: auto;
        border: none;
        background: none;
        padding: 20px 10px 40px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: $textcolor-light;
        font-weight: lighter;
        text-transform: none;
        display: block;
        margin: 0;

        #{$link-hover-selector} {
            background-color: rgba($bgcolor-light, 0.3);
            text-decoration: none;
            color: $textcolor-light;
        }
    }
}