header.resources{
    background-color: $grey;
    height: auto;
    color: $textcolor-dark;
    font-family: Arial, Helvetica, sans-serif;
}

header.resources ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

header.resources li{
    list-style: none;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
    
    #{$link-hover-selector}{
        background-color: $red;
        color: $textcolor-light;
    }
}

.resource {
    border: 2px solid $grey;
    margin: 20px
}

.resource h2 {
    padding-left: 10px;
    padding-top: 20px;
}

.resource p {
    padding: 10px;
}

.content-resources {
    margin: 0;
    display: block;
    background-color: $bgcolor-light;
    padding: 20px 20px 90px;
    font-family: $content-font;
}

.content-resources .resource a {
    display: inline-block;
    width: 100%;
    line-height: 3em;
    background-color: $red;
    color: $textcolor-light;
    text-align: center;
    border-top: 2px solid $grey;
}

@include mq($largeTablet){
    .content-resources{
        visibility: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .content-resources.current{
        visibility: visible;
    }

    .resource {
        max-width: 300px;

        p{
            height: 69%;
            text-align: center;
        }

        h2{
            text-align: center;
        }
    }
  }