header.resources{
    background-color: $grey;
    height: auto;
    color: $textcolor-dark;
    font-family: Arial, Helvetica, sans-serif;
}

header.resources ul {
    display: none;
}

header.resources li{
    list-style: none;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
    
    #{$link-hover-selector}{
        background-color: $red;
        color: $textcolor-light;
    }
}

#tab-1{
    padding-top: 30px;
}

#tab-5{
    padding-bottom: 30px;
}

.resource {
    border: 2px solid $grey;
    
    &:nth-child(2){
        margin: 20px 0;
    }
}

.resource h2 {
    padding-left: 10px;
    padding-top: 20px;
}

.resource p {
    text-align: center;
    padding: 10px;
}

.content-resources {
    margin: 0;
    display: block;
    background-color: $bgcolor-light;
    padding: 10px;
    font-family: $content-font;

    &:first-child{
        margin-top: 20px;
    }
}

.content-resources .resource a {
    display: block;
    line-height: 3em;
    background-color: $red;
    color: $textcolor-light;
    text-align: center;
    border-top: 2px solid $grey;
}

@include mq($largeTablet){

    header.resources ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex: 1;
        justify-content: space-between;
    }

    #tab-2, #tab-3, #tab-4, #tab-5{
        padding-top: 30px;
    }

    #tab-1, #tab-2, #tab-3, #tab-4{
        padding-bottom: 30px;
    }
    
    .content-resources{
        display: none;     
    }

    .content-resources.current{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .resource {
        display: flex;
        flex-direction: column;
        max-width: 250px;
        height: 450px;

        &:nth-child(2){
            margin: 0;
        }

        p{
            height: 100%;
        }

        h2{
            text-align: center;
            padding-left: 0;
        }
    }
  }

