.month-mobile{
    background-color: $red;
    color: $textcolor-light;
    border: none;
}

.desktop{
  display: none;
}

#outerAccordion {
    padding: 10px 0 70px;
}

.acc-btn {
  width: 100vw;
  text-align: left;
  position: relative;
}

.acc-btn:after {
    position: absolute;
    font-family: "icomoon";
    content: "\e903";
    color: $textcolor-dark;
    left: 80vw;
    margin-left: 15px;
    z-index: 2;
  }

  .month-mobile:after{
      color: $textcolor-light;
  }

  .toggle-feed{
    display:none;
  }
  /* Icon when the collapsible content is hidden */
  
  .acc-btn.collapsed:after {
    content: "\e902";
  }



  @include mq($largePhone){
    .day{
      display: flex;
      justify-content: space-around;
    }
  }

  @include mq($desktopLayout){
    .toggle-feed{
      margin: 20px;
      display: block;
    }

    .day{
      display: block;
      // border: 2px solid $textcolor-light;
    }

    .mobile{
        display: none;
    }
    .desktop{
      display: none;
    }

    .show{
      display: block;
    }


    .carousel-item{
      background-color: $red;
    }

    .month{
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      padding: 20px 120px;
      margin-bottom: auto;
      color: $textcolor-light;
    }

    .active h2{
      grid-column: 1/ 6;
      padding: 30px 0;
    }

    .active .Monday{
      grid-column: 1/2;
    }

    .active .Tuesday{
      grid-column: 2/3;
    }

    .Wednesday{
      grid-column: 3/4;
    }

    .Thursday{
      grid-column: 4/5;
    }

    .Friday{
      grid-column: 5/6;
    }
  }