@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

//Backgroung Colors
$bgcolor-light: white;
$bgcolor-dark: black;

//Colors
$red: #E53F23;
$grey: #E7E2E1;

//Text colors
$textcolor-light: white;
$textcolor-dark: black;
$textcolor-link: rgb(40, 40, 207);

//Fonts
$content-font: 'Roboto', sans-serif;
$a-font: Arial, Helvetica, sans-serif;

// Utility variables
$link-hover-selector: '&:hover, &:focus, &:active';
