@import 'variables';
@import 'courses';
@import 'header';
@import 'contact';
@import 'nav';
@import 'resources';
@import 'schedule';

h1, h2, h3, h4, p {
    margin: 0;
    padding: 3px 0;
    line-height: 1.4;
}

img {
    height: auto;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    margin: 0;
    background-color: $bgcolor-dark;
    height: 90vh;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.content.current{
    display: inherit;
}

a {
    color: $textcolor-light;
    text-decoration: none;
}

.content-resources {
    margin: 0;
    display: block;
    background-color: $bgcolor-light;
    padding: 20px 20px 90px;
    font-family: $content-font;
}

.content {
    margin: 0;
    display: none;
    background-color: $bgcolor-light;
    padding: 20px 20px 90px;
    font-family: $content-font;

    ul {
        padding: 0 20px;
    }

    a{
        color: $textcolor-link;
        font-weight: bold;
    }

    .button{
        text-align: center;
    }

    #apply-button{
        margin: 0;
        color: $textcolor-light;
        background-color: $red;
        padding: 10px;
    }

    .row{
        display: flex;
        flex-direction: column;
        max-width: 445px;
    }

    .info{
        display: flex;
        background-color: $grey;
        padding: 15px 10px 5px;
        justify-content: center;
        align-items: flex-end;

        img{
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
        }

        .contact{
            display: block;
            width: 100%;
            padding-left: 15px;
            font-size: 0.8em;
        }
    }

    .social-media{
        display: flex;
        background-color: $grey;
        margin-bottom: 10px;
        border-bottom: 1px dotted black;
        justify-content: flex-end;
        padding: 0 20px 5px 0;
    }
}