$bgcolor-light: white;
$bgcolor-dark: black;
$textcolor-light: white;

header {
    background-color: $bgcolor-dark;
    color: $textcolor-light;
}

header h1 {
    padding: 10vh 10vw;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.toggle-feed{
    display: flex;
    justify-content: space-around;
}

.toggle-feed a {
    padding: 0 20px;
    border-bottom: 3px solid white;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: $textcolor-light;
    text-decoration: none;
}

nav{
    background-color: $bgcolor-dark;
    padding: 10px 0;
    margin: 0;
}

nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}

nav a {
    padding: 10px 5px;
}