@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.courses {
  padding: 10px 20px;
  padding-bottom: 80px;
<<<<<<< HEAD
}
=======
  background-color: #fff;
  width: 100%; }
>>>>>>> abd918ae1678fa262814ca8dbf37b6c614954271

.class h2 {
  margin-top: 20px;
  text-align: center;
}

.class p {
  font-size: 20px;
}

.more {
  display: none;
}

.more-btn {
  color: white;
  background-color: #E53F23;
  border: none;
  padding: 20px 20px;
  border-radius: 10px;
  width: 100%;
}

.btn {
  text-align: center;
  margin: 10px;
}

header {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  height: 280px;
  justify-content: flex-end;
}
header h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto 0;
}
header img {
  display: block;
  height: 100%;
  object-fit: cover;
}
header .student {
  width: 100%;
}
header .instructors {
  display: flex;
  justify-content: space-between;
  flex: 1;
  width: 100%;
}
header .instructors .instructor {
  width: 50%;
}
header .toggle-feed {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
header .toggle-feed a {
  padding: 0 20px;
  border-bottom: 3px solid white;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  margin: 10px 0;
}

.text-label {
  padding: 0 10px;
}

form {
  margin: 2px 0;
  padding: 20px;
  background-color: black;
  height: 65vh;
}

.text-label {
  display: none;
}

form label {
  color: white;
}

.col-form.radio {
  padding-left: 50px;
  max-width: 130px;
}

.radio input {
  display: none;
}

.radio label {
  position: relative;
  font-size: 1.4em;
}

.radio label:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #E7E2E1;
  top: 0;
  left: -50px;
  border-radius: 50%;
}

.radio input:checked ~ label:before {
  background-color: white;
  border: 15px solid #E53F23;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
}

input[type=submit] {
  color: white;
  background-color: #E53F23;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.row {
  margin: 0 auto;
  display: flex;
  flex: 1;
  justify-content: space-around;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: black;
  margin: 0;
}
nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
nav li {
  position: relative;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav img {
  position: absolute;
  display: block;
  top: 5px;
}
nav a {
  position: absolute;
  top: 0px;
  padding-top: 30px;
  padding: 27px 20px;
  text-decoration: none;
  color: white;
}
nav a:hover, nav a:focus, nav a:active {
  background-color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  color: white;
}

header.resources {
  background-color: #E7E2E1;
  height: auto;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

header.resources ul {
  padding: 0;
  display: flex;
  flex: 1;
  justify-content: space-around;
}

header.resources li {
  list-style: none;
}

.resource {
  border: 2px solid #E7E2E1;
  margin: 20px;
}

.resource h2 {
  padding-left: 10px;
  padding-top: 20px;
}

.resource p {
  padding: 10px;
}

.content .resource a {
  display: inline-block;
  width: 100%;
  line-height: 3em;
  background-color: #E53F23;
  color: white;
  text-align: center;
  border-top: 2px solid #E7E2E1;
}

.month {
  background-color: #E53F23;
  color: white;
  border: none;
}

#outerAccordion {
  padding: 10px 0 70px;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 3px 0;
  line-height: 1.4;
}

img {
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  background-color: black;
  height: 90vh;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.content {
  background-color: white;
}

/**************I put this code on the _header.scss section**********/
a {
  color: white;
  text-decoration: none;
}

.content {
  margin: 0;
  padding: 20px 20px 90px;
  font-family: "Roboto", sans-serif;
}
.content ul {
  padding: 0 20px;
}
.content a {
  color: #2828cf;
  font-weight: bold;
}
.content .button {
  text-align: center;
}
.content #apply-button {
  margin: 0;
  color: white;
  background-color: #E53F23;
  padding: 10px;
}
.content .row {
  display: flex;
  background-color: #E7E2E1;
  padding: 15px 10px 5px;
  justify-content: center;
  align-items: flex-end;
}
.content .row img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.content .row .contact {
  display: block;
  width: 100%;
  padding-left: 15px;
  font-size: 0.8em;
}
.content .social-media {
  display: flex;
  background-color: #E7E2E1;
  margin-bottom: 10px;
  border-bottom: 1px dotted black;
  justify-content: flex-end;
  padding: 0 20px 5px 0;
}

/*# sourceMappingURL=main.css.map */
