@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
  font-family: "halflings";
  src: url("../fonts/glyphicons-halflings-regular.woff") formt("woff"); }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?6c92x1");
  src: url("../fonts/icomoon.eot?6c92x1#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?6c92x1") format("truetype"), url("../fonts/icomoon.woff?6c92x1") format("woff"), url("../fonts/icomoon.svg?6c92x1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-chevron-right:before {
  content: "\e900"; }

.icon-chevron-left:before {
  content: "\e901"; }

.icon-chevron-down:before {
  content: "\e902"; }

.icon-chevron-up:before {
  content: "\e903"; }

*,
*:before,
*:after {
  box-sizing: border-box; }

img {
  height: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure, article, p, h1, h2,
h3, button, img, a, article,
section, main, footer, ul, li {
  margin: 0;
  border: none;
  background: none;
  list-style: none;
  text-decoration: none; }

header {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  height: 280px;
  justify-content: flex-end; }
  header h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto 0; }
  header .student {
    width: 100%; }
  header .desktop-h {
    display: none; }
  header .instructors {
    display: none;
    width: 100%; }
  header .instructors.current {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 100%; }
    header .instructors.current .instructor {
      display: block;
      width: 50%;
      height: auto;
      object-fit: cover; }
  header .toggle-feed {
    display: flex;
    justify-content: space-around;
    width: 100%; }
    header .toggle-feed a {
      padding: 0 20px;
      border-bottom: 3px solid white;
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
      cursor: pointer; }
    header .toggle-feed a.current {
      padding: 0 20px;
      color: red;
      border-bottom: 3px solid red;
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
      cursor: pointer; }

@media (min-width: 760px) {
  header {
    height: 200px; }
    header .toggle-feed {
      display: none; }
    header .desktop-h {
      display: block; }
    header #tab-11, header #tab-21 {
      display: none; } }
nav {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: black;
  margin: 0;
  z-index: 2; }
  nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around; }
  nav li {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center; }
  nav img {
    position: absolute;
    display: block;
    top: 5px; }
  nav a {
    position: absolute;
    top: 0px;
    padding-top: 30px;
    padding: 27px 20px;
    text-decoration: none;
    color: white; }
    nav a:hover, nav a:focus, nav a:active {
      background-color: rgba(255, 255, 255, 0.3);
      text-decoration: none;
      color: white; }

.contact-us-btn {
  background-color: #fc0101;
  display: block;
  padding: 8px 30px;
  margin-left: 15px;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: all .2s linear;
  border: 2px solid white;
  box-sizing: inherit;
  font-family: 'Poppins',sans-serif;
  font-weight: bold;
  position: fixed;
  z-index: 22;
  top: auto;
  bottom: 100px;
  right: 10px; }
  .contact-us-btn:hover, .contact-us-btn:focus, .contact-us-btn:active {
    background-color: #E53F23;
    color: white; }

@media (min-width: 760px) {
  nav {
    padding: 25px 20px 0;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 25px; }
    nav ul {
      text-align: center;
      width: 60%; }
      nav ul li {
        display: block;
        width: 100%; }
        nav ul li a {
          position: relative;
          display: block;
          width: 100%;
          padding: 20px 0;
          font-family: Arial, Helvetica, sans-serif; }
    nav img {
      display: none; }

  .contact-us-btn {
    bottom: 50px; } }
@media (min-width: 1220px) {
  .contact-us-btn {
    position: relative;
    top: 0;
    bottom: auto;
    border: none;
    background: none;
    padding: 20px 10px 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    text-transform: none;
    display: block;
    margin: 0; }
    .contact-us-btn:hover, .contact-us-btn:focus, .contact-us-btn:active {
      background-color: rgba(255, 255, 255, 0.3);
      text-decoration: none;
      color: white; } }
h1, h2, h3, h4, p {
  margin: 0;
  padding: 3px 0;
  line-height: 1.4; }

body {
  background-color: black;
  height: auto;
  max-width: 1200px;
  margin: 0 auto; }

.content.current {
  display: inherit; }

a {
  color: white;
  text-decoration: none; }

.content {
  margin: 0;
  display: none;
  background-color: white;
  padding: 20px 20px 125px;
  font-family: "Roboto", sans-serif; }
  .content ul {
    padding: 0 20px; }
  .content a {
    color: #2828cf;
    font-weight: bold; }
  .content .button {
    text-align: center; }
  .content #apply-button {
    color: white;
    background-color: #E53F23;
    border-radius: 10px;
    padding: 10px; }

@media (min-width: 760px) {
  .content {
    display: block;
    padding-bottom: 25px; }

  .content.current {
    padding-bottom: 25px; } }
.month-mobile {
  background-color: #E53F23;
  color: white;
  border: none; }

.desktop {
  display: none; }

#outerAccordion {
  padding: 0; }

.acc-btn {
  width: 100%;
  text-align: left;
  position: relative; }

.btn:focus {
  box-shadow: none; }

.acc-btn:after {
  position: absolute;
  font-family: "icomoon";
  content: "\e903";
  color: black;
  left: 95%;
  margin-left: 15px;
  z-index: 2; }

.month-mobile:after {
  color: white; }

.toggle-feed {
  display: none; }

/* Icon when the collapsible content is hidden */
.acc-btn.collapsed:after {
  content: "\e902"; }

@media (min-width: 600px) {
  .day {
    display: grid;
    grid-template-columns: repeat(3, 1fr); } }
@media (min-width: 930px) {
  .toggle-feed {
    margin: 20px;
    display: block; }

  .mobile {
    display: none; }

  .desktop {
    display: none; }
    .desktop .day {
      display: block; }

  .show {
    display: block; }

  .carousel-item {
    background-color: #E53F23; }

  .month {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 20px 120px;
    margin-bottom: auto;
    color: white; }

  .active h2 {
    grid-column: 1/ 6;
    padding: 30px 0; }

  .active .Monday {
    grid-column: 1/2; }

  .active .Tuesday {
    grid-column: 2/3; }

  .Wednesday {
    grid-column: 3/4; }

  .Thursday {
    grid-column: 4/5; }

  .Friday {
    grid-column: 5/6; } }
.courses {
  padding: 10px 20px;
  padding-bottom: 80px;
  background-color: #fff;
  width: 100%; }

.class h2 {
  margin-top: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif; }

.class p {
  font-size: 20px;
  font-family: "Roboto", sans-serif; }

.more {
  display: none; }

.more-btn {
  color: white;
  background-color: #E53F23;
  border: none;
  padding: 20px 20px;
  border-radius: 10px;
  width: 100%; }

.course-btn {
  text-align: center;
  margin: 10px; }

@media (min-width: 760px) {
  .courses {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }

  .class {
    text-align: center;
    max-width: 250px;
    height: 450px;
    border: 2px solid #E7E2E1;
    margin: 20px; }
    .class h2 {
      margin-top: 0;
      padding: 10px 0;
      background-color: #E53F23;
      color: white;
      height: 80px; }
    .class p {
      padding-top: 20px;
      font-size: 0.90em; }

  .more-btn {
    display: none; }

  .more {
    display: block; }

  .dots {
    display: none; } }
@media (min-width: 930px) {
  .courses {
    justify-content: flex-start; } }
.content .row {
  display: flex;
  flex-direction: column;
  max-width: 445px; }
.content .info {
  display: flex;
  background-color: #E7E2E1;
  padding: 15px 10px 5px;
  justify-content: center;
  align-items: center; }
  .content .info img {
    width: 100px;
    object-fit: cover;
    border-radius: 50%; }
  .content .info .contact {
    display: block;
    width: 100%;
    padding-left: 15px;
    font-size: 0.8em; }
.content .social-media {
  display: flex;
  background-color: #E7E2E1;
  margin-bottom: 10px;
  border-bottom: 1px dotted black;
  justify-content: flex-end;
  padding: 0 20px 5px 0; }
  .content .social-media img {
    margin-right: 2px; }

@media (min-width: 760px) {
  .container {
    display: flex;
    justify-content: center; }
    .container .content.current {
      display: block;
      width: 100%; }
    .container .content {
      width: 100%; }
    .container .row {
      width: 100%; }
      .container .row .contact {
        height: 125px;
        display: flex;
        flex-direction: column;
        justify-content: center; } }
input {
  margin: 10px 0; }

.text-label {
  padding: 0 10px; }

form {
  margin: 2px auto;
  padding: 20px;
  background-color: black;
  height: 65vh;
  max-width: 800px; }

.text-label {
  display: none; }

form label {
  color: white; }

.col-form.radio {
  padding-left: 50px;
  max-width: 130px; }

.radio input {
  display: none; }

.radio label {
  position: relative;
  font-size: 1.4em; }

.radio label:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #E7E2E1;
  top: 0;
  left: -50px;
  border-radius: 50%; }

.radio input:checked ~ label:before {
  background-color: white;
  border: 15px solid #E53F23; }

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box; }

input[type=submit] {
  color: white;
  background-color: #E53F23;
  border: none;
  padding: 10px 20px;
  border-radius: 10px; }

.row {
  margin: 0 auto;
  display: flex;
  flex: 1;
  justify-content: space-around; }

header.resources {
  background-color: #E7E2E1;
  height: auto;
  color: black;
  font-family: Arial, Helvetica, sans-serif; }

header.resources ul {
  display: none; }

header.resources li {
  list-style: none;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  cursor: pointer; }
  header.resources li:hover, header.resources li:focus, header.resources li:active {
    background-color: #E53F23;
    color: white; }

#tab-1 {
  padding-top: 30px; }

#tab-5 {
  padding-bottom: 30px; }

.resource {
  border: 2px solid #E7E2E1; }
  .resource:nth-child(2) {
    margin: 20px 0; }

.resource h2 {
  padding-left: 10px;
  padding-top: 20px; }

.resource p {
  text-align: center;
  padding: 10px; }

.content-resources {
  margin: 0;
  display: block;
  background-color: white;
  padding: 10px;
  font-family: "Roboto", sans-serif; }
  .content-resources:first-child {
    margin-top: 20px; }

.content-resources .resource a {
  display: block;
  line-height: 3em;
  background-color: #E53F23;
  color: white;
  text-align: center;
  border-top: 2px solid #E7E2E1; }

@media (min-width: 760px) {
  header.resources ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: space-between; }

  #tab-2, #tab-3, #tab-4, #tab-5 {
    padding-top: 30px; }

  #tab-1, #tab-2, #tab-3, #tab-4 {
    padding-bottom: 30px; }

  .content-resources {
    display: none; }

  .content-resources.current {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }

  .resource {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    height: 450px; }
    .resource:nth-child(2) {
      margin: 0; }
    .resource p {
      height: 100%; }
    .resource h2 {
      text-align: center;
      padding-left: 0; } }
footer {
  position: static;
  padding-bottom: 50px;
  margin-bottom: 70px;
  background-color: black; }

footer p {
  padding: 10px 0;
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 0;
  font-family: "Roboto", sans-serif; }

@media (min-width: 760px) {
  footer {
    margin-bottom: 0;
    padding-bottom: 0; } }

/*# sourceMappingURL=styles.css.map */
